body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
    background-color: #dcdcdc;
    margin-inline: auto;
    border: 2px solid #353935;
}

.btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #909090;
}